<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body bgcolor='#F0F0F0'>
        {% block body %}{% endblock %}
        
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
